*{
    padding:0;
    margin:0;
}
:root{--bgcolor:white}          /* 全局背景 */
:root{--searchbg:white}       /* 搜索输入框背景 */
:root{--placecolor: #acacac}    /* 搜索输入框提示文字颜色 */
:root{--searchborder:#1b26ff}
:root{--suggestionsbg:#F1F1F1}
:root{--inputstr:#222}
@media(prefers-color-scheme:dark){ /* 系统夜间模式 */
    :root{--bgcolor:#161615}
    :root{--searchbg: #111}
    :root{--placecolor: #333}
    :root{--searchborder:#2932e1}
    :root{--suggestionsbg: #555}
    :root{--inputstr: #999}
}
html,body{
    margin: 0;
    padding: 0;
    height:100%;
    background-color:var(--bgcolor);
    overflow-x:hidden;
}

.htmllogo{
    position: relative;
    margin-top:16.5%;
    margin-left:39%;
    width:22%;
    padding:0.38%;
    border-radius:30px;
    cursor:pointer;
    transition-duration: 0.15s;
}

.htmllogoimg{
    width:70%;
    margin-left:15%;
}

.htmllogo:hover {
    /* transform:scale(1.1); 缩放效果 */
    transition-duration: 0.15s;
    filter:saturate(120%) contrast(120%);  /* 多个中间空格-->filter:saturate(150%) contrast(150%); */
}

.copyright{
    position:absolute;
    width:100%;
    bottom:1.2%;
    text-align: center;
    color:var(--placecolor);
}